<?xml version="1.0" encoding="utf-8"?>
<!--
For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>

    <compilation debug="true" targetFramework="4.0" />
    <authentication mode ="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="~/Login.aspx" timeout="10">
      </forms>

    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <!--<connectionStrings configSource="Web1.config">
    
  </connectionStrings>-->
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=ADMINIB-NRCOK3F\SQLExpress; Database=Banking; Integrated Security=SSPI" />
  </connectionStrings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".aspx" mimeType="application/aspx" />
    </staticContent>
    <defaultDocument>

    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>